doctype html
html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(href="resources/style.css" rel="stylesheet" type="text/css")
    script(crossorigin src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  body
    div(id="core")
      h1 U.S. National Park Wildlife
      form(method='post' action='results' enctype='multipart/form-data')
        | National Park
        select(name="park")
          each park in parks
            option(value=park) #{park}
        br
        | Category
        select(name="category")
          each category in categories
            option(value=category) #{category}
        br
        input(type="hidden" name="index" value="0")
        input(type='submit')
